@import url('https://fonts.googleapis.com/css2? family= Nunito:ital,wght@0,300;0,400;0,600;1,300;1,600 & family= Open+Sans:wght@300;400; 600 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.centro{
    text-align: center;
}

.imagem{
    object-fit: cover;
    border-radius: 100%;
    width: 50%;
    height: 70%;

    padding: 0.15rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.usuario{
    width: 10%;
    height: 10%;
}

.alinhamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.escala{
    display: flex;
    gap: 20px;
    background-color: #d9d9d9;
    width: 20rem;
    height: 25px;
    border-radius: 1.25rem;
    justify-content: center;
}

.divisao{
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin-top: 10px; 
}

.linha{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.corResgitros{
    background-color: #d9d9d9; 
    border-radius: 1.25rem;
    width: 5rem;
    height: 25px;
}

.btregistrar{
    background-color: rgb(32, 165, 32);
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.25rem; 
}