{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_Cartao_Ponto.css' %}">
    <title>Folha Ponto</title>
</head>
<body>
    <nav class="espacamento_bottom">
        <div class="dimenciona">
            <div class="infoColab">
                <fieldset>
                <legend>
                    Nome Funcionario
                </legend>
                <h4>Vítor Antônio Kuhnen </h4>
                </fieldset>
                <div class="">
                <fieldset>
                <legend>
                    Cargo
                </legend>
                
                <h4>Desenvolvedor </h4>
                </fieldset>
                <fieldset class="h-137">
                    <legend>
                        Escala  de Tabalho
                    </legend>
                    <h4>08:00-12:00 / 13:12-18:00 (2ª a 6ª) 220HM </h4>
                    
                    </fieldset>
                </fieldset>
                </div>
            </div>
            <div class="infoSuper">
                <div class="">
                    <fieldset>
                    <legend>
                        Matricula
                    </legend>
                    <h4> 1 </h4>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                    <legend>
                        Nome da Empresa
                    </legend>
                    <h4>Ponto Seguro </h4>
                    </fieldset>
                    <div class="">
                    <fieldset>
                    <legend>
                        Observações
                    </legend>
                    <div class="dimenciona">
                        <h4 class="espacamento-right">Admissão:  </h4>
                        <span class="dimenciona alinha"> 27/05/2021 </span>
                    </div>
                    <div class="dimenciona">
                        <h4 class="espacamento-right">Mês/Ano: </h4>
                        <span class="dimenciona alinha"> 04/2023 </span>
                    </div>    
                    </fieldset>
                </div>

            </div>
        </div>
    </nav>
    <main class="espacamento_bottom">
        <div class="dimenciona alinha">
            <table id="myTable" class="border_1px tamanho">
              <thead>
                <tr>
                  <th id="title" scope="col" ></th>
                  <th id="title" scope="col" class="borderTabela">Data de Registro</th>
                  <th id="title" scope="col" class="borderTabela">Ent. Mat.</th>
                  <th id="title" scope="col" class="borderTabela">Sai. Mat.</th>
                  <th id="title" scope="col" class="borderTabela">Ent. Vesp.</th>
                  <th id="title" scope="col" class="borderTabela">Sai. Vesp.</th>
                  <th id="title" scope="col" class="borderTabela">Status</th>
                  <th id="title" scope="col" class="borderTabela">Justificativa</th>
                </tr>
              </thead >
              <tbody >
                <tr>
                  <th scope="row">1</th>
                  <td>01/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>02/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>03/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>06/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>07/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>08/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>09/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>10/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">9</th>
                  <td>13/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
                <tr>
                  <th scope="row">10</th>
                  <td>14/03/2023</td>
                  <td>08:00</td>
                  <td>12:00</td>
                  <td>13:12</td>
                  <td>18:00</td>
                  <td>Aprovado</td>
                  <td>Sim</td>
                </tr>
      
              </tbody>
            </table>
          </div>
    </main>
    <footer class="dimenciona alinha_end f-direction-column espacamento_top">
        <div>
        <span>___________________</span>
        <br>
        <label for="">Assinatura do Funcionario</label>
        </div>    
    </footer>
    
</body>
</html>