{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_Cartao_Ponto.css' %}">
    <title>Folha Ponto</title>
</head>
<body>
    <nav class="espacamento_bottom">
        <div class="dimenciona">
            <div class="infoColab">
                <fieldset>
                <legend>
                    Nome Funcionario
                </legend>
                <h4>{{user.get_full_name}} </h4>
                </fieldset>
                <div class="">
                <fieldset>
                <legend>
                    Cargo
                </legend>
                
                <h4>Desenvolvedor</h4>
                </fieldset>
                <fieldset class="h-137">
                    <legend>
                        Escala  de Tabalho
                    </legend>
                    <h4>08:00-12:00 / 13:12-18:00 (2ª a 6ª) 220HM </h4>
                    
                    </fieldset>
                </fieldset>
                </div>
            </div>
            <div class="infoSuper">
                <div class="">
                    <fieldset>
                    <legend>
                        Matricula
                    </legend>
                    <h4> 1 </h4>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                    <legend>
                        Nome da Empresa
                    </legend>
                    <h4>Ponto Seguro </h4>
                    </fieldset>
                    <div class="">
                    <fieldset>
                    <legend>
                        Observações
                    </legend>
                    <div class="dimenciona">
                        <h4 class="espacamento-right">Admissão:  </h4>
                        <span class="dimenciona alinha"> 27/05/2021 </span>
                    </div>
                    <div class="dimenciona">
                        <h4 class="espacamento-right">Mês/Ano: </h4>
                        <span class="dimenciona alinha"> 04/2023 </span>
                    </div>    
                    </fieldset>
                </div>

            </div>
        </div>
    </nav>
    <table style="border-collapse: collapse; width: 100%; height: 54px;" border="1">
      <tbody>
      <tr style="height: 18px;">
      <td style="width: 50%; height: 18px;">Nome: {{user.get_full_name}}</td>
      <td style="width: 50%; height: 18px;">Matricula: {{user.matricula}}</td>
      </tr>
      <tr style="height: 18px;">
      <td style="width: 50%; height: 18px;">Cargo:</td>
      <td style="width: 50%; height: 18px;">Empresa:</td>
      </tr>
      <tr style="height: 18px;">
      <td style="width: 50%; height: 18px;">Escala:</td>
      <td style="width: 50%; height: 18px;">Observação:</td>
      </tr>
      </tbody>
      </table>
      <br>
      <br>
    <main class="espacamento_bottom">
        <div class="dimenciona alinha">
            <table id="myTable" class="border_1px tamanho">
              <thead>
                <tr>
                  <th id="title" scope="col" ></th>
                  <th id="title" scope="col" class="borderTabela">Data de Registro</th>
                  <th id="title" scope="col" class="borderTabela">Ent. Mat.</th>
                  <th id="title" scope="col" class="borderTabela">Sai. Mat.</th>
                  <th id="title" scope="col" class="borderTabela">Ent. Vesp.</th>
                  <th id="title" scope="col" class="borderTabela">Sai. Vesp.</th>
                  <th id="title" scope="col" class="borderTabela">Status</th>
                  <th id="title" scope="col" class="borderTabela">Justificativa</th>
                </tr>
              </thead >
              <tbody >
                {% for reg in histReg %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{reg.dataReg}}</td>
                  <td>{{reg.horEnt1}}</td>
                  <td>{{reg.horSai2}}</td>
                  <td>{{reg.horEnt3}}</td>
                  <td>{{reg.horSai4}}</td>
                  <td>
                    {% if reg.sitAPR == "PEN" %}
                      Pendente
                    {% elif reg.sitAPR == "REJ"%}
                      Rejeitado
                    {% elif reg.sitAPR == "APR"%}
                      Aprovado
                    {% endif %}
                  </td>
                  <td>
                    {% if reg.justificativas.all %}
                      Sim
                    {% else %}
                      Não
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
      
              </tbody>
            </table>
          </div>
    </main>
    <footer class="dimenciona alinha_end f-direction-column espacamento_top">
        <div>
        <span>___________________</span>
        <br>
        <label for="">Assinatura do Funcionario</label>
        </div>    
    </footer>
    
</body>
</html>